.row{
    background: #4a6e94;
    padding: auto;
    margin: auto;
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    box-shadow: 2px -2px 5px #999;
}

#footerRow{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
