<div>
    <a href="https://wa.me/543777296611" target="_blank"><img src="../../../assets/wpp.png" id="WhatsApp"></a>
    <a href="https://www.facebook.com/JuanMatiasPinat" target="_blank"><img src="../../../assets/face.png" id="Facebook"></a>
    <a href="https://www.instagram.com/juanmatiaspinat" target="_blank"><img src="../../../assets/insta.png" id="Instagram"></a>
    <a href="https://twitter.com/JuanMatiasPinat" target="_blank"><img src="../../../assets/twitter.png" id="Twitter"></a>
</div>
