#WhatsApp{
    margin: 5px;
    width: 40px;
    cursor: pointer;
}

#Facebook{
    margin: 5px;
    width: 40px;
}

#Instagram{
    margin: 2px;
    width: 46px;
}

#Twitter{
    margin: 2px;
    width: 43px;
}
