.row{
    background: #a1b5cb;
}

footer{
    color: #fefefe;
    box-sizing: border-box;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    box-shadow: 2px -2px 5px #999;
}


#footerRow{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}