div{
    background-color: #000000;
}

app-social{
    float: right;
   
}

#rowHeader{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#rowRowBanner {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}