<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAP.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://wa.me/543777296611" target="_blank"><img src="../../../assets/wppC.png" id="WhatsApp"></a>
                <a href="https://www.facebook.com/JuanMatiasPinat" target="_blank"><img src="../../../assets/faceC.png" id="Facebook"></a>
                <a href="https://www.instagram.com/juanmatiaspinat" target="_blank"><img src="../../../assets/instaC.png" id="Instagram"></a>
                <a href="https://twitter.com/JuanMatiasPinat" target="_blank"><img src="../../../assets/twitterC.png" id="Twitter"></a>
                <button type="button" class="btn btn-outline-success">Ingresar</button>
            </div>
        </div>
    </div>
</div>
